.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
}

.card {
  height: 200px;
  width: 200px;
  border: 5px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.card .card-title,
.card-footer {
  display: block;
  width: 100%;
  background-color: aqua;
}

.card:hover {
  cursor: pointer;
}
